
:root {
    --button-width: 50px;
    --button-height: 45px;

    /* CSS HEX */
    --independence: #3a405aff;
    --champagne-pink: #f9dec9ff;
    --cadet-blue: #7cb4b8ff;
}

* {
    box-sizing: border-box;  
}

html {
    width: 100%;
    min-height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: lightslategray;
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 440px;
    background-color: rgb(235, 168, 168);
}

.display {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 90%;
    height: 60px;
    background-color: antiquewhite;
    margin-top: 10px;
    font-size: 20px;
    overflow: hidden;
}

button {
    width: var(--button-width);
    height: var(--button-height);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.clear-button {
    display: flex;
    width: 90%;
    height: 100px;
    justify-content: right;
    align-items: center;
}

#clear-Btn {
    width: 100px;
}

.bottom-buttons {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.digits {
    display: grid;
    grid-template-columns: repeat(3, var(--button-width));
    gap: 2px;
}

.operators {
    display: grid;
    grid-template-columns: repeat(2, var(--button-width));
    gap: 2px;
}

#equals-Btn {
    width: 100px;
}