@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro&family=Poppins:wght@300;400&display=swap');

:root {
    --button-width: 50px;
    --button-height: 45px;
    --footer-height: 10vh;
    /* CSS HEX */

    --independence: #3a405aff;
    --champagne-pink: #f9dec9ff;
    --cadet-blue: #7cb4b8ff;
}

* {
    box-sizing: border-box;  
}

/* css for phones in portrait */

html {
    width: 100%;
    min-height: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
    margin: 0;
    background-color: var(--champagne-pink);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - var(--footer-height));
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 440px;
    background-color: var(--independence);
}

.display {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 90%;
    height: 60px;
    background-color: white;
    margin-top: 10px;
    font-size: 19px;
    overflow: hidden;
    font-family: 'Kantumruy Pro', sans-serif;
}

button {
    width: var(--button-width);
    height: var(--button-height);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 17px;
    transition: 0.4s;
}

.active:hover {
    background-color: black;
    color: white;
}

.clear-button {
    display: flex;
    width: 90%;
    height: 100px;
    justify-content: right;
    align-items: center;
}

#clear-Btn {
    width: 100px;
}

.bottom-buttons {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.digits {
    display: grid;
    grid-template-columns: repeat(3, var(--button-width));
    gap: 2px;
}

.operators {
    display: grid;
    grid-template-columns: repeat(2, var(--button-width));
    gap: 2px;
}

#equals-Btn {
    width: 100px;
}

footer {
    background-color: var(--independence);
    position: relative;
    width: 100%;
    height: var(--footer-height);
    display: flex;
    gap: 10px;
    border-radius: 5px 5px 0px 0px;
}

.footer-content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.github-icon {
    width: 50px;
    transition: 0.4s;
}

.github-icon:hover {
    width: 40px;
}

.left-footer {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-right: 1px solid black;
}

.right-footer {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 10px;
    gap: 5px;
    text-align: center;
    font-family: 'Kantumruy Pro', sans-serif;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

/* css for phones in landscape */

@media only screen and (min-width: 667px) {
    :root {
        --button-width: 45px;
        --button-height: 40px;
        --footer-height: 13vh;
    }

    .display {
        font-size: 22px;
    }

    .calculator-container {
        width: 440px;
        height: 300px;
    }

    .clear-button {
        height: 70px;
    }

    #clear-Btn {
        width: 92px;
    }

    .digits {
        grid-template-columns: repeat(4, var(--button-width));
        gap: 3px;
    }

    .operators {
        grid-template-columns: repeat(3, var(--button-width));
        gap: 3px;
    }

    #equals-Btn {
        width: 139px;
    }


    .github-icon {
        width: 40px;
    }
}